* {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 1145px;
    margin: 0 auto;
}

.nav-menu {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px 0;
}
.nav-menu-item {
    margin: 0 36px;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    color: #FF0000;
}
.nav-menu-link {
    color: #FF0000;
    text-decoration: none;
    padding: 5px;
}
.image {
    display: inline-block;
    width: 100%;
}
.section-title {
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    font-weight: bold;
    font-size: 22px;
    margin: 48px 0 38px 0;
}
.text-content {
    text-align: center;
    margin-bottom: 28px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.btn {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 43px 18px;
    background: #FF0000;
    border-radius: 4px;
    margin-top: 66px;
    margin-bottom: 42px;
}
.footer-text {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    margin-bottom: 29px;
    margin-top: 40px;
}
